# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/

# Mac
.DS_Store

# uploads / data
backend/uploads/
backend/attendance.db
backend/faiss_indexes/
backend/dataset/
backend/server.log
backend/uvicorn.log

# environment
.env
.env.production

# Editor
.vscode/

# Build outputs
build/
